:root {
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: inherit;
}

body {
    line-height: 1.5;
    font-family: 'open sans', sans-serif;
    font-size: 16px;
    font-size: 400;
}

.header-txt {
    font-family: 'poppins', sans-serif;
    line-height: 1.6;
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    width: min(90%, 100%);
}

.landing-page {
    min-height: 100vh;
    position: relative;
    color: white;
    padding-top: 3rem;
    padding-bottom: 1rem;
    display: grid;
}

.pattern-mobile {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(images/bg-mobile.svg), var(--Violet);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.pattern-desktop {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: url(images/bg-desktop.svg), var(--Violet);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: -1;
}

@media (min-width: 50em) {
    .pattern-desktop {
        display: block;
    }

    .pattern-mobile {
        display: none;
    }
}

.logo {
    width: 180px;
}

nav {
    --max-width: 1200px;
    --padding: 2rem;
    width: min(var(--max-width), 100% - var(--padding) * 2);
    margin-inline: auto;
    margin-bottom: 4rem;
}

.landing-page__content {
    --max-width: 1200px;
    --padding: 2rem;
    display: grid;
    width: min(var(--max-width), 100% - var(--padding) * 2);
    margin-inline: auto;
}

.stacked > * {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

picture.mockup img{
    --max-width: 650px;
    width: min(var(--max-width), 100%);
}

.context {
    height: max-content;
    justify-self: end;
    width: 40%;
    margin-top: 2rem;
}

.context p {
    margin-bottom: 1rem;
}

button {
    background: transparent;
    outline: none;
    border: none;
    background-color: white;
    color: var(--Violet);
    border-radius: 4ch;
    padding: .8rem 3.5rem;
    box-shadow: 0px 5px 15px hsla(0, 0%, 0%, 0.493);
    font-family: 'poppins';
    cursor: pointer;
    justify-self: start;
}

button:hover {
    background-color: var(--Soft-Magenta);
    color: white;
    transition: .2s;
}

.landing-page__footer {
    --max-width: 1200px;
    --padding: 2rem;
    width: min(var(--max-width), 100% - var(--padding) * 2);
    margin-inline: auto;
    display: grid;
}

.socials {
    display: flex;
    justify-self: end;
    gap: 1rem;
    list-style: none;
}

.socials li {
    border: 1px solid white;
    padding: 1.3rem;
    border-radius: 50%;
    position: relative;
}

.socials li:hover,
.socials li i:hover {
    border-color: var(--Soft-Magenta);
    color: var(--Soft-Magenta);
}

.socials li i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/* MOBILE MEDIA QUERY */
@media (max-width: 50em) {
    .landing-page__content {
        display: flex;
        flex-direction: column;
    }

    .landing-page__content .context {
        width: 100%;
        text-align: center;
    }

    .header-txt {
        width: 100%;
        line-height: 1.2;
    }

    .landing-page__content .context {
        margin-top: 4rem;
    }
    
    button {
        width: 80%;
        padding-block: 1rem;
        margin-top: 1rem;
    }

    .landing-page__footer .socials {
        justify-self: center;
        margin-block: 7rem 5rem;
    }
}

/* MEDIA QUERY TABLET */
@media (max-width: 1163px) {
    .mockup img {
        --max-width: 450px !important;
    }

    .landing-page__footer {
        margin-top: 5rem;
    }
}

@media (max-width: 800px) {
    .mockup {
        display: grid;
        place-items: center;
    }
}